aiohttp==3.8.4
aiosignal==1.3.1
aldryn-apphooks-config==0.7.0
altair==5.2.0
annotated-types==0.6.0
anyio==4.1.0
asgiref==3.7.2
asttokens==2.4.1
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.3
bidict==0.22.1
bleach==6.1.0
blessed==1.20.0
blinker==1.7.0
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.5.7
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.6
contexttimer==0.3.3
contourpy==1.0.7
cryptography==43.0.1
cssselect2==0.7.0
cycler==0.11.0
dataclasses-json==0.6.3
decorator==5.1.1
distlib==0.3.7
distro==1.9.0
Django==1.10.8
django-appconf==1.0.6
django-appdata==0.4.0
django-classy-tags==4.1.0
django-cms==3.11.4
django-contrib-comments==1.8.0
django-entangled==0.5.4
django-filer==3.1.0
django-formtools==2.4.1
django-meta==2.4.0
django-parler==2.3
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-select2==8.1.2
django-sortedm2m==3.1.1
django-taggit==5.0.1
django-taggit-autosuggest==0.4.1
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.7
djangocms-admin-style==3.2.6
djangocms-apphook-setup==0.5.0
djangocms-attributes-field==3.0.0
djangocms-blog==2.0.5
djangocms-frontend==1.2.1
djangocms-text-ckeditor==5.1.4
easy-thumbnails==2.8.5
env==0.1.0
executing==2.0.1
filebrowser-safe==1.1.1
filelock==3.12.4
Flask==2.3.2
Flask-SocketIO==5.3.4
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.12.1
future==1.0.0
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.42
google-api-core==2.15.0
google-auth==2.25.2
google-cloud-aiplatform==1.38.0
google-cloud-bigquery==3.14.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.11.0
google-cloud-storage==2.14.0
google-cloud-texttospeech==2.16.1
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
googletrans==4.0.0rc1
grappelli-safe==1.1.1
greenlet==3.0.2
grpc-google-iam-v1==0.13.0
grpcio==1.60.0
grpcio-status==1.60.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.19.4
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.8.0
ipython==8.22.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.4
langchain==0.0.348
langchain-core==0.0.12
langsmith==0.0.69
libretranslatepy==2.1.1
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
Mezzanine==4.2.3
multidict==6.0.4
mypy-extensions==1.0.0
nltk==3.6.3
node==1.2.1
npm==0.1.1
numpy==1.24.3
nvm==1.0.21
oauthlib==3.2.2
odict==1.9.0
openai==1.12.0
optional-django==0.1.0
packaging==23.2
pandas==2.2.0
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
pipenv==2023.9.8
platformdirs==3.10.0
plumber==1.7
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.22
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.17.2
pyobjc==10.1
pyobjc-core==10.1
pyobjc-framework-Accessibility==10.1
pyobjc-framework-Accounts==10.1
pyobjc-framework-AddressBook==10.1
pyobjc-framework-AdServices==10.1
pyobjc-framework-AdSupport==10.1
pyobjc-framework-AppleScriptKit==10.1
pyobjc-framework-AppleScriptObjC==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-AppTrackingTransparency==10.1
pyobjc-framework-AudioVideoBridging==10.1
pyobjc-framework-AuthenticationServices==10.1
pyobjc-framework-AutomaticAssessmentConfiguration==10.1
pyobjc-framework-Automator==10.1
pyobjc-framework-AVFoundation==10.1
pyobjc-framework-AVKit==10.1
pyobjc-framework-BusinessChat==10.1
pyobjc-framework-CalendarStore==10.1
pyobjc-framework-CallKit==10.1
pyobjc-framework-CFNetwork==10.1
pyobjc-framework-ClassKit==10.1
pyobjc-framework-CloudKit==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Collaboration==10.1
pyobjc-framework-ColorSync==10.1
pyobjc-framework-Contacts==10.1
pyobjc-framework-ContactsUI==10.1
pyobjc-framework-CoreAudio==10.1
pyobjc-framework-CoreAudioKit==10.1
pyobjc-framework-CoreBluetooth==10.1
pyobjc-framework-CoreData==10.1
pyobjc-framework-CoreHaptics==10.1
pyobjc-framework-CoreLocation==10.1
pyobjc-framework-CoreMedia==10.1
pyobjc-framework-CoreMediaIO==10.1
pyobjc-framework-CoreMIDI==10.1
pyobjc-framework-CoreML==10.1
pyobjc-framework-CoreMotion==10.1
pyobjc-framework-CoreServices==10.1
pyobjc-framework-CoreSpotlight==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-CoreWLAN==10.1
pyobjc-framework-CryptoTokenKit==10.1
pyobjc-framework-DataDetection==10.1
pyobjc-framework-DeviceCheck==10.1
pyobjc-framework-DictionaryServices==10.1
pyobjc-framework-DiscRecording==10.1
pyobjc-framework-DiscRecordingUI==10.1
pyobjc-framework-DiskArbitration==10.1
pyobjc-framework-DVDPlayback==10.1
pyobjc-framework-EventKit==10.1
pyobjc-framework-ExceptionHandling==10.1
pyobjc-framework-ExecutionPolicy==10.1
pyobjc-framework-ExternalAccessory==10.1
pyobjc-framework-FileProvider==10.1
pyobjc-framework-FileProviderUI==10.1
pyobjc-framework-FinderSync==10.1
pyobjc-framework-FSEvents==10.1
pyobjc-framework-GameCenter==10.1
pyobjc-framework-GameController==10.1
pyobjc-framework-GameKit==10.1
pyobjc-framework-GameplayKit==10.1
pyobjc-framework-ImageCaptureCore==10.1
pyobjc-framework-InputMethodKit==10.1
pyobjc-framework-InstallerPlugins==10.1
pyobjc-framework-InstantMessage==10.1
pyobjc-framework-Intents==10.1
pyobjc-framework-IntentsUI==10.1
pyobjc-framework-IOBluetooth==10.1
pyobjc-framework-IOBluetoothUI==10.1
pyobjc-framework-IOSurface==10.1
pyobjc-framework-iTunesLibrary==10.1
pyobjc-framework-KernelManagement==10.1
pyobjc-framework-LatentSemanticMapping==10.1
pyobjc-framework-LaunchServices==10.1
pyobjc-framework-libdispatch==10.1
pyobjc-framework-libxpc==10.1
pyobjc-framework-LinkPresentation==10.1
pyobjc-framework-LocalAuthentication==10.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.1
pyobjc-framework-MailKit==10.1
pyobjc-framework-MapKit==10.1
pyobjc-framework-MediaAccessibility==10.1
pyobjc-framework-MediaLibrary==10.1
pyobjc-framework-MediaPlayer==10.1
pyobjc-framework-MediaToolbox==10.1
pyobjc-framework-Metal==10.1
pyobjc-framework-MetalKit==10.1
pyobjc-framework-MetalPerformanceShaders==10.1
pyobjc-framework-MetalPerformanceShadersGraph==10.1
pyobjc-framework-MetricKit==10.1
pyobjc-framework-MLCompute==10.1
pyobjc-framework-ModelIO==10.1
pyobjc-framework-MultipeerConnectivity==10.1
pyobjc-framework-NaturalLanguage==10.1
pyobjc-framework-NetFS==10.1
pyobjc-framework-Network==10.1
pyobjc-framework-NetworkExtension==10.1
pyobjc-framework-NotificationCenter==10.1
pyobjc-framework-OpenDirectory==10.1
pyobjc-framework-OSAKit==10.1
pyobjc-framework-OSLog==10.1
pyobjc-framework-PassKit==10.1
pyobjc-framework-PencilKit==10.1
pyobjc-framework-PHASE==10.1
pyobjc-framework-Photos==10.1
pyobjc-framework-PhotosUI==10.1
pyobjc-framework-PreferencePanes==10.1
pyobjc-framework-PushKit==10.1
pyobjc-framework-Quartz==10.1
pyobjc-framework-QuickLookThumbnailing==10.1
pyobjc-framework-ReplayKit==10.1
pyobjc-framework-SafariServices==10.1
pyobjc-framework-SceneKit==10.1
pyobjc-framework-ScreenCaptureKit==10.1
pyobjc-framework-ScreenSaver==10.1
pyobjc-framework-ScreenTime==10.1
pyobjc-framework-ScriptingBridge==10.1
pyobjc-framework-SearchKit==10.1
pyobjc-framework-Security==10.1
pyobjc-framework-SecurityFoundation==10.1
pyobjc-framework-SecurityInterface==10.1
pyobjc-framework-ServiceManagement==10.1
pyobjc-framework-ShazamKit==10.1
pyobjc-framework-Social==10.1
pyobjc-framework-SoundAnalysis==10.1
pyobjc-framework-Speech==10.1
pyobjc-framework-SpriteKit==10.1
pyobjc-framework-StoreKit==10.1
pyobjc-framework-SyncServices==10.1
pyobjc-framework-SystemConfiguration==10.1
pyobjc-framework-SystemExtensions==10.1
pyobjc-framework-UniformTypeIdentifiers==10.1
pyobjc-framework-UserNotifications==10.1
pyobjc-framework-UserNotificationsUI==10.1
pyobjc-framework-VideoSubscriberAccount==10.1
pyobjc-framework-VideoToolbox==10.1
pyobjc-framework-Virtualization==10.1
pyobjc-framework-Vision==10.1
pyobjc-framework-WebKit==10.1
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
python-engineio==4.8.0
python-socketio==5.10.0
pyttsx3==2.90
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.33.0
regex==2023.6.3
reportlab==4.0.6
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
safetensors==0.4.1
shapely==2.0.2
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SpeechRecognition==3.8.1
SQLAlchemy==2.0.23
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
streamlit==1.31.1
svglib==1.5.1
tenacity==8.2.2
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.65.0
traitlets==5.14.1
transformers==4.35.2
translate==3.6.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.0.2
validators==0.22.0
virtualenv==20.23.0
wcwidth==0.2.13
webencodings==0.5.1
webpack==6.0.0
Werkzeug==2.3.6
wsproto==1.2.0
yarl==1.9.2
your-project-name==0.0.1
youtube-transcript-api==0.4.1
zipp==3.17.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.1
zope.lifecycleevent==5.0
zope.proxy==5.1
